<div class="card my-3 w-50">
    <div class="card-header">
        <h3>Agregar Productos a la Factura</h3>
    </div>
    <div class="card-body">
        <form class="w-75">
            <input name="product" placeholder="Producto" class="form-control m-3" [(ngModel)]="item.product">
            <input name="price" placeholder="Precio" class="form-control m-3" [(ngModel)]="item.price">
            <input name="quantity" placeholder="Cantidad" class="form-control m-3" [(ngModel)]="item.quantity">
    
            <button class="btn btn-primary m-3">Nuevo Item</button>
        </form>
    </div>
</div>
