<div class="container">
    <div class="card my-3">
        <div class="card-header">
            <h2>Ejemplo Factura</h2>
        </div>
        <div class="card-body">
            <factura-view [id]="factura.id" [name]="factura.name"/>

            <div class="row my-3">
                <div class="col">
                    <client-view [client]="factura.client"/>
                </div>
    
                <div class="col">
                    <company-view [company]="factura.company"/>
                </div>
            </div>
            <list-items [items]="factura.items" (removeEventEmitter)="removeItem($event)"/>
            <total [total]="factura.total"/>
            <form-item/>
        </div>
    </div>
</div>